<a href="https://colab.research.google.com/github/MonkeyWrenchGang/MGTPython/blob/main/day_1/1_3_Basic_Arithmetic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arithmetic Operations

---

In this code snippet, we perform various arithmetic operations:

- Addition: 5 + 3
- Subtraction: 10 - 2
- Multiplication: 4 * 5
- Division: 15 / 3
- Exponentiation: 2 ** 3
- Modulo: 10 % 3

The results of each operation are stored in different variables `(x, y, z, a, b, c)` and then printed using the `print()` function.

In [1]:


# Addition
x = 5 + 3
print("Addition:", x)  # Output: 8

# Subtraction
y = 10 - 2
print("Subtraction:", y)  # Output: 8

# Multiplication
z = 4 * 5
print("Multiplication:", z)  # Output: 20

# Division
a = 15 / 3
print("Division:", a)  # Output: 5.0

# Exponentiation
b = 2 ** 3
print("Exponentiation:", b)  # Output: 8

# Modulo
c = 10 % 3
print("Modulo:", c)  # Output: 1

Addition: 8
Subtraction: 8
Multiplication: 20
Division: 5.0
Exponentiation: 8
Modulo: 1

# Type Conversion


---

In [6]:


# Integer to float
x = 5
float_x = float(x)
print("Integer to float  :", float_x)  # Output: 5.0

# Float to integer
y = 3.14
int_y = int(y)
print("Float to integer  :", int_y)  # Output: 3


# String to Integer
z = "50"
int_z = int(z)
print("String to Integer :", int_z )  # Output: 50

# String to Float
a = "5.123"
float_a = float(a)
print("String to Float :", float_a )  # Output: 5.123

Integer to float  : 5.0
Float to integer  : 3
String to Integer : 50
String to Float : 5.123

In [7]:
# String-Float to Int = Error
a = "5.123"
float_a = int(a)
print("String-Float  to Integer:", float_a )  # Output: Error

ValueError: ignored