<a href="https://colab.research.google.com/github/MonkeyWrenchGang/PythonBootcamp/blob/main/day_2/2_2_Lists_Pt_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to List Operations


---



In Python, lists offer various operations that allow us to manipulate and work with the data they contain. Let's explore some common list operations:

## Concatenation

Concatenation is the process of combining two or more lists into a single list. In Python, we use the + operator to concatenate lists. Here's an example:

```python
list1 = [1, 2, 3]
list2 = [4, 5, 6]
new_list = list1 + list2
print(new_list)
```

## Repetition

Repetition allows us to create a new list by repeating an existing list a certain number of times. We use the `*` operator to achieve list repetition. Here's an example:

```python
my_list = [1, 2, 3]
repeated_list = my_list * 3
print(repeated_list)
```

## Membership Testing

Membership testing involves checking whether an element is present in a list. We use the `in` and `not in` operators for this purpose. Here's an example:

```python
my_list = [1, 2, 3, 4, 5]
print(2 in my_list)  # Output: True
print(6 in my_list)  # Output: False
print(3 not in my_list)  # Output: False
print(6 not in my_list)  # Output: True
```
## Length of a List

The length of a list refers to the number of elements it contains. We can determine the length using the `len()` function. Here's an example:

```python
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)
```

In [1]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
new_list = list1 + list2
print(new_list)

[1, 2, 3, 4, 5, 6]

# Play with Fruit

In [ ]:
# Concatenation
fruits1 = ["apple", "banana"]
fruits2 = ["orange", "grape"]
all_fruits = fruits1 + fruits2  # all_fruits: ["apple", "banana", "orange", "grape"]

# Repetition
repeated_fruits = fruits1 * 3  # repeated_fruits: ["apple", "banana", "apple", "banana", "apple", "banana"]

# Membership Testing
if "apple" in fruits1:
    print("Apple is present in the list.")
if "kiwi" not in fruits1:
    print("Kiwi is not present in the list.")

# Length of a List
count = len(fruits1)  # count: 2

# Exercises


---



### Exercise 1: Concatenation

Create two lists of Star Wars characters: `jedi` and `sith`. Concatenate the two lists to create a new list called `star_wars_characters`. Print the resulting list.

```python
# Create two lists of Star Wars characters
jedi = ["Luke Skywalker", "Yoda", "Obi-Wan Kenobi"]
sith = ["Darth Vader", "Emperor Palpatine", "Darth Maul"]

# Concatenate the two lists into star_wars_characters


# Print the resulting list
print(star_wars_characters)
```

### Exercise 2: Repetition

Create a list of Star Wars planets called `planets`. Repeat the list three times and store the result in a new list called `repeated_planets`. Print the `repeated_planets` list.

```python
# Exercise 2: Repetition

# Create a list of Star Wars planets
planets = ["Tatooine", "Hoth", "Naboo"]

# Repeat the list three times : repeated_planets


# Print the repeated_planets list
print(repeated_planets)

```

### Exercise 3: Membership Testing

Create a list of Star Wars droids called `droids`. Prompt the user to enter the name of a droid. Check if the entered droid is present in the `droids` list using membership testing. Display an appropriate message based on the result.

```python
# Exercise 3: Membership Testing

# Create a list of Star Wars droids
droids = ["R2-D2", "C-3PO", "BB-8"]

# Prompt the user to enter the name of a droid
user_input = input("Enter the name of a Star Wars droid: ")

# Check if the entered droid is present in the droids list
if # put a condtition to test :
    print(f"{user_input} is a Star Wars droid.")
else:
    print(f"{user_input} is not a Star Wars droid.")

```

### Exercise 4: Length of a List

Create a list of Star Wars vehicles called `vehicles`. Calculate the length of the `vehicles` list using the `len()` function and store it in a variable called `num_vehicles`. Print the value of `num_vehicles`.

```python

# Create a list of Star Wars vehicles
vehicles = ["X-wing", "TIE fighter", "Millennium Falcon", "AT-AT"]

# Calculate the length of the vehicles list num_vehicles

# Print the value of num_vehicles
print("Number of vehicles:", num_vehicles)
```

# sort

In [ ]:
numbers = [5, 2, 8, 1, 3]
numbers.sort()
print(numbers)  # Output: [1, 2, 3, 5, 8]

[1, 2, 3, 5, 8]

In [ ]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse()
print(fruits)  # Output: ['cherry', 'banana', 'apple']

In [ ]:
numbers = [1, 2, 3, 2, 4, 2, 5]
count_2 = numbers.count(2)
print(count_2)  # Output: 3

3

# Exercise: Sorting and Counting South Park Characters

1. Create a list called `south_park_characters` containing the following South Park character names: "Stan", "Kyle", "Cartman", "Kenny", "Butters", "Randy", "Chef", "Mr. Garrison", "Timmy".

2. Use the `sort()` method to sort the `south_park_characters` list in alphabetical order.

3. Print the sorted list of characters.

4. Use the `count()` method to count the number of times the character "Kenny" appears in the `south_park_characters` list.

5. Print the count of "Kenny" occurrences.

6. Add a few more instances of the character "Kenny" to the `south_park_characters` list.

7. Use the `count()` method again to verify the updated count of "Kenny" occurrences.

8. Print the final count of "Kenny" occurrences.

# sample solutions


---

In [ ]:
# Exercise 1: Concatenation

jedi = ["Luke Skywalker", "Yoda", "Obi-Wan Kenobi"]
sith = ["Darth Vader", "Emperor Palpatine", "Darth Maul"]
star_wars_characters = jedi + sith
print("Star Wars Characters:", star_wars_characters)

# Exercise 2: Repetition

planets = ["Tatooine", "Hoth", "Naboo"]
repeated_planets = planets * 3
print("Repeated Planets:", repeated_planets)

# Exercise 3: Membership Testing

droids = ["R2-D2", "C-3PO", "BB-8"]
user_input = input("Enter the name of a Star Wars droid: ")
if user_input in droids:
    print(f"{user_input} is a Star Wars droid.")
else:
    print(f"{user_input} is not a Star Wars droid.")

# Exercise 4: Length of a List

vehicles = ["X-wing", "TIE fighter", "Millennium Falcon", "AT-AT"]
num_vehicles = len(vehicles)
print("Number of vehicles:", num_vehicles)

In [ ]:
# Exercise: Sorting and Counting South Park Characters

# 1. Create a list of South Park characters
south_park_characters = ["Stan", "Kyle", "Cartman", "Kenny", "Butters", "Randy", "Chef", "Mr. Garrison", "Timmy"]

# 2. Sort the south_park_characters list in alphabetical order
south_park_characters.sort()

# 3. Print the sorted list of characters
print("Sorted characters:", south_park_characters)

# 4. Count the number of times "Kenny" appears in the list
kenny_count = south_park_characters.count("Kenny")

# 5. Print the count of "Kenny" occurrences
print("Count of 'Kenny' occurrences:", kenny_count)

# 6. Add a few more instances of "Kenny" to the list
south_park_characters.extend(["Kenny", "Kenny", "Kenny"])

# 7. Verify the updated count of "Kenny" occurrences
kenny_count_updated = south_park_characters.count("Kenny")

# 8. Print the final count of "Kenny" occurrences
print("Updated count of 'Kenny' occurrences:", kenny_count_updated)