<a href="https://colab.research.google.com/github/MonkeyWrenchGang/PythonBootcamp/blob/main/day_2/2_5_Day_2_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Practice

## Exercise:
1. Create a list called `friends_characters` and populate it with the names of five characters from the TV show "Friends". For example, you can include names like "Rachel", "Ross", "Monica", "Chandler", and "Phoebe".

2. Select a variable from the list by its index and assign it to a new variable called `selected_character`. For example, you can select the character at index 2 and assign it to `selected_character`.

3. Sort the `friends_characters` list in alphabetical order, using the .sort() method.

4. Create a new list called `other_characters` and populate it with the "Joey", "Gunther", "Janice" and "Officer Gary".

5. Create a new list called `combined_list` by concatenating the `friends_characters` list with the `other_characters` list.

6. Append "Richard"  to the `friends_characters` by using the `append()` function to add it to the existing list. print the list out!

# Sample List Solution


---

In [ ]:
# Exercise 1
friends_characters = ["Rachel", "Ross", "Monica", "Chandler", "Phoebe"]

# Exercise 2
selected_character = friends_characters[2]

# Exercise 3
friends_characters.sort()

# Exercise 4
other_characters = ["Joey", "Gunther", "Janice", "Officer Gary"]

# Exercise 5
combined_list = friends_characters + other_characters

# Exercise 6
friends_characters.append("Richard")

# Printing the final list
print(friends_characters)

# Dictionary Practice

## Exercise:
1. Create a dictionary called `marvel_characters` and populate it with the names of five Marvel characters as keys and their corresponding powers as values.

- "Iron Man": "Genius intellect and advanced technology",
- "Spider-Man": "Agility and web-slinging",
- "Captain America": "Enhanced strength and agility",
- "Black Panther": "Superhuman senses and advanced technology",
- "Thor": "Control over lightning and Mjolnir"

2. Select the "Spider-Man" character from the dictionary by its key and assign its power to a new variable called `selected_power`. print the selected_power using print()

3. Add a new Marvel character, "Black Widow", to the `marvel_characters` dictionary with her power as " espionage, martial arts, and various forms of combat"
print the dictionary out

4. Remove the "Captain America" character and their power from the `marvel_characters` dictionary.

5. Print all the `keys()` (character names) in the `marvel_characters` dictionary.

6. Print all the `items()` in the `marvel_characters` dictionary.

7. Print all the `values()` in the `marvel_characters` dictionary.

# dictionary solutions


---

In [ ]:
# Exercise 1
marvel_characters = {
    "Iron Man": "Genius intellect and advanced technology",
    "Spider-Man": "Agility and web-slinging",
    "Captain America": "Enhanced strength and agility",
    "Black Panther": "Superhuman senses and advanced technology",
    "Thor": "Control over lightning and Mjolnir"
}

# Exercise 2
selected_power = marvel_characters["Spider-Man"]
print(selected_power)

# Exercise 3
marvel_characters["Black Widow"] = "Espionage, martial arts, and various forms of combat"
print(marvel_characters)

# Exercise 4
del marvel_characters["Captain America"]

# Exercise 5
print(marvel_characters.keys())

# Exercise 6
print(marvel_characters.items())

# Exercise 7
print(marvel_characters.values())

# Pandas Pratice


---


## Exercise 1: Import the Titanic Dataset

1. Import the Pandas library using `import pandas as pd`.
2. Use the `pd.read_csv()` function to read the Titanic dataset from a CSV file into a DataFrame called `titanic_df`.
3. Print the first few rows of the DataFrame using the `.head()` method.

url of data:
```
"https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
```

## Exercise 2: Export the DataFrame to a CSV File

1. Use the `.to_csv()` method on the `titanic_df` DataFrame to export it to a new CSV file called `titanic_export.csv`.
2. Open the exported file and verify its contents.

## Exercise 3: Extract a Series from the DataFrame

1. Extract the "Age" column from the `titanic_df` DataFrame and assign it to a new variable called `age_series`.
2. Print the first few values of the `age_series` using the `.head()` method.

## Exercise 4: Count the Passengers by Sex

1. Use the `.value_counts()` method on the "Sex" column of the `titanic_df` DataFrame to count the number of passengers by sex.
2. Assign the result to a new variable called `sex_counts`.
3. Print the `sex_counts` variable to display the counts.

*Note: You can pass the argument `normalize=True` to normalize the counts as proportions instead of absolute counts.*

## Exercise 5: Count the Passenger Classes

1. Use the `.value_counts()` method on the "Pclass" column of the `titanic_df` DataFrame to count the number of passengers in each class.
2. Assign the result to a new variable called `class_counts`.
3. Print the `class_counts` variable to display the counts.

*Note: You can pass the argument `normalize=True` to normalize the counts as proportions instead of absolute counts.*

## Exercise 6: % Survived by Age Group


1. Use the `.value_counts()` method on the "Survived" column of the `titanic_df` DataFrame.

2. create two data sets by filtering results by age. first  `under_18` and `over_18` then use the survived column and value counts with (normalize = True) to get the survival percentages.

3. were you more or less likely to survive if you were over 18 or under?

# Pandas Potential Solutions


---

In [ ]:
import pandas as pd

# Exercise 1: Import the Titanic Dataset
titanic_df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
print(titanic_df.head())

# Exercise 2: Export the DataFrame to a CSV File
titanic_df.to_csv("titanic_export.csv", index=False)

# Exercise 3: Extract a Series from the DataFrame
age_series = titanic_df["Age"]
print(age_series.head())

# Exercise 4: Count the Passengers by Sex
sex_counts = titanic_df["Sex"].value_counts(normalize=True)
print(sex_counts)

# Exercise 5: Count the Passenger Classes
class_counts = titanic_df["Pclass"].value_counts(normalize=True)
print(class_counts)

# Exercise 6: % Survived by Age Group
under_18 = titanic_df[titanic_df["Age"] < 18]
over_18 = titanic_df[titanic_df["Age"] >= 18]

survived_under_18 = under_18["Survived"].value_counts(normalize=True)
survived_over_18 = over_18["Survived"].value_counts(normalize=True)

print("Survival percentage for passengers under 18:")
print(survived_under_18)

print("Survival percentage for passengers over 18:")
print(survived_over_18)