<a href="https://colab.research.google.com/github/MonkeyWrenchGang/PythonBootcamp/blob/main/day_4/4_3_Pandas_Aggregate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Series and DataFrame Aggregation

In data analysis, aggregation is a fundamental process that involves summarizing and extracting insights from datasets. In this notebook, we will explore aggregation techniques specifically applied to Series and DataFrames in the pandas library.

## Series Aggregation

Series in pandas are one-dimensional labeled arrays, often used to represent a single column of data.

## DataFrame Aggregation

DataFrames are two-dimensional data structures in pandas, consisting of multiple columns organized in a tabular format.

### Aggregation Methods in pandas

- Series Aggregation Methods: `sum()`, `mean()`, `count()`, `min()`, `max()`, `median()`, `std()`, `var()`, and more.
- DataFrame Aggregation Methods: Similar to Series, aggregation functions can be applied to specific columns, groups of columns, or the entire DataFrame.

## Example Usage

Series
```python
import pandas as pd

# Create a sample Series
data = pd.Series([10, 20, 30, 40, 50])

# Aggregate the series
sum_result = data.sum()
mean_result = data.mean()
max_result = data.max()

print("Sum:", sum_result)
print("Mean:", mean_result)
print("Max:", max_result)

```

Single Column (Series) from DataFrame
```python
# Create a sample DataFrame
data = {
    'Name': ['John', 'Emma', 'Mike', 'Emily'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000]
}
df = pd.DataFrame(data)

# Aggregate the DataFrame
mean_age = df['Age'].mean()
max_salary = df['Salary'].max()
total_salary = df['Salary'].sum()

print("Mean Age:", mean_age)
print("Max Salary:", max_salary)
print("Total Salary:", total_salary)

```

DataFrame:

```python
# Aggregate the DataFrame
df[["Age","Salary"]].mean()

```

In [2]:
import pandas as pd

# Create a sample DataFrame
data = {
    'Name': ['John', 'Emma', 'Mike', 'Emily'],
    'Age': [25, 30, 35, 28],
    'Salary': [50000, 60000, 75000, 55000]
}
df = pd.DataFrame(data)

# Aggregate the DataFrame
df[["Age","Salary"]].mean()

Age          29.5
Salary    60000.0
dtype: float64

# Let's practice


---



1. import pandas as pd
2. import the following CSV into a dataframe called `abnb`
```
"https://raw.githubusercontent.com/MonkeyWrenchGang/MGTPython/main/module_3/data/sd_listings.csv"
```

  - check it out using head()

3. create a series called series_price like this: `series_price = abnb['price']`
  - create varibales  mean_price, max_price and min_price using .mean(), .max(), and .min()
  - print out the analsis with
```python
print(f"San Diego price analysis: \n mean: ${mean_price:.2f}, \n max : ${max_price:.2f}, \n min : ${min_price:.2f}")```
4. create a dataframe of abnb_slice by selecting the following columns: `price, minimum_nights, and number_of_reviews` remember use double brackets `[[ ]]`
  - use head() to makesure all is well.
  - use .sum() on abnb_slice to get the total
  - use .mean() on abnb_slice to get the mean
  - use .count() on abnb_slice to get the total
5. use your pandas powers to figure out what the averate price for a abnb with a 1 night minimum stay is
  - filter for minimum_nights == 1 and price > 0
  - aggreate w. mean()
  - print(f"mean price for a one night stay is ${mean_price:.2f}"

6. use your pandas powers to figure out what the averate price for a abnb with a 2 night minimum stay that has more than 100 reviews.
  - filter for minimum_nights >= 1 and price > 0 and number_of_reviews > 100
  - aggreate w. mean()
  - print(f"mean price for a 2 night min stay is ${mean_price:.2f}"

## Sample Solution


---

In [ ]:
#
import pandas as pd

abnb = pd.read_csv("https://raw.githubusercontent.com/MonkeyWrenchGang/MGTPython/main/module_3/data/sd_listings.csv")
abnb.head()

#
series_price = abnb['price']
mean_price = series_price.mean()
max_price = series_price.max()
min_price = series_price.min()

print(f"San Diego price analysis: \n mean: ${mean_price:.2f}, \n max : ${max_price:.2f}, \n min : ${min_price:.2f}")

#
abnb_slice = abnb[["price", "minimum_nights", "number_of_reviews"]]
abnb_slice.sum()
abnb_slice.mean()
abnb_slice.count()